body{
    background-color: lavender;
}
.navbar{
    padding-right:60px;
    font-family: 'Montserrat', serif;
    font-weight: 300;
}
.nav-item{
    padding:0 22px 0 22px;
}
h1{
    font-family: "Cinzel", serif;
    font-weight: 400;
    padding-top:20px;
    font-size: 56px;
    color: rgb(46, 45, 45);
}
p{
    font-family: 'Montserrat', serif;
    font-weight: 300;
}
h5{
    font-family:'Quattrocento', serif;
    padding-top:10px;
}
.app-graphic{
    width:300px;
}
.container-fluid{
    width:80%;
    margin-top:80px;
}
.bottom-app{
    padding-top:20px;
}
#text{
    border-right: solid 6px white;
    padding: 0;
}
.footer {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    position: fixed;
    bottom: -20px;
    min-height: 75px;
    clear: both;
}
@media  screen and  (max-width:900px) {

    #text{
        border-right:none;
        border-bottom: solid 6px white;
        text-align: center;
    }
    #wine{
        padding-top:25px;
    }
    .apps{
        margin:auto;
    }
  } 
