
/* body{
    background-image:url('../Assets/LA.Jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
}  */
body{
    background-color: lavender;
}
.navbar{
    padding-right:60px;
    font-family: 'Montserrat', serif;
    font-weight: 300;
}
.nav-item{
    padding:0 22px 0 22px;
}
h1, h2{
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 4rem;
}
h3{
    font-family: 'Quattrocento', serif;
}
.home{
    text-align: center;
    padding-top:150px;
    /* padding-bottom:200px; */
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.fab{
    font-size: 50px;
    color: white;
}
.row{
    margin:0;
    padding-top:40px;
}
/* footer{
    font-family: 'Montserrat', serif;
    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    } */
/* footer{
    padding-top:175px;
    text-align: center;
} */