
body{
    background-color: lavender;
    text-align: center;
}
.navbar{
    padding-right:60px;
    font-family: 'Montserrat', serif;
    font-weight: 300;
}
.nav-item{
    padding:0 22px 0 22px;
}
h1{
    font-family:"Cinzel", serif;
    font-weight: 400;
    margin-top:80px;
}
img{
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 10%;
    top: 25%;
}
form{
    margin-top: 50px;
}
.form-control{
    font-family: 'Montserrat', serif;
    width:75%;
    background: transparent;
    border:none;
    outline:none;
    border-bottom: 2px solid gray;
    color: gray;
    font-size: 18px;
    margin: 0 auto 16px auto;
}
.btn{
    font-weight: bolder;
    color:gray;
}
.container-fluid{
    position:fixed;
}
.footer {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    position: fixed;
    bottom: -20px;
    min-height: 75px;
    clear: both;
}
@media screen and (max-width: 700px) {
    img{
      position: static;
      transform: rotate(0);
      padding-top: 30px;
      padding-bottom: 100px;
    }
  } 